<mat-toolbar class="tooli">
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>

    <span>Frontend työkalut</span>

    <span class="moro"> </span>

    <a routerLink="/login" routerLinkActive="active" *ngIf="!(userEmail$ | async)">
        <button class="singbutton"> Sign in</button>
    </a>

    <div *ngIf="(userEmail$ | async)">
        // näytetään kirjautuneen käyttäjän sposti ja LOGOUT button
    </div>

</mat-toolbar>


<mat-menu #menu="matMenu">

    <button mat-button color="primary" routerLink="/calculator" routerLinkActive="active">
        Calculator
    </button>
    <br>

    <button mat-button color="primary" routerLink="/feedback" routerLinkActive="active">
        Feedback
    </button>
    <br>

    <button mat-button color="primary" routerLink="/helloworld" routerLinkActive="active">
        Helloworld
    </button>
    <br>

    <button mat-button color="primary" routerLink="/template" routerLinkActive="active">
        Template Form
    </button>
    <br>

    <button mat-button color="primary" routerLink="/reactiveform" routerLinkActive="active">
        Reactive Form
    </button>
    <br>
    <button mat-button color="primary" routerLink="/cinema" routerLinkActive="active">
        Cinema
    </button>
    <br>
    <button mat-button color="primary" routerLink="/admin" routerLinkActive="active">
        admin
    </button>
    <br>
    <button mat-button color="primary" routerLink="/login" routerLinkActive="active">
        Login
    </button>
    <br>
    <button mat-button color="primary" routerLink="/lippu" routerLinkActive="active">
        Maatalous Lippu
    </button>




</mat-menu>