<mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>

    <span>Frontend työkalut</span>

    <span class="moro"> </span>

    <a routerLink="/admin/login" routerLinkActive="active">
        <button class="singbutton"> sing in</button>
        </a>

</mat-toolbar>


<mat-menu #menu="matMenu">

    <button button mat-raised-button routerLink="/calculator" routerLinkActive="active">
        Calculator
    </button>
    <br>

    <button button mat-raised-button routerLink="/feedback" routerLinkActive="active">
        Feedback
    </button>
    <br>

    <button button mat-raised-button routerLink="/helloworld" routerLinkActive="active">
        Helloworld
    </button>
    <br>

    <button button mat-raised-button routerLink="/template" routerLinkActive="active">
        Template
    </button>
    <br>

    <button button mat-raised-button routerLink="/reactiveform" routerLinkActive="active">
        Reactiveform
    </button>
    <br>
    <button button mat-raised-button routerLink="/cinema" routerLinkActive="active">
        Cinema
    </button>
    <br>
    <button button mat-raised-button routerLink="/admin" routerLinkActive="active">
        admin
    </button>
    <br>
    <button button mat-raised-button routerLink="/login" routerLinkActive="active">
        Login
    </button>



</mat-menu>