<div class="container">
    <br><br>
    <h1>Template works!</h1>

    <form (ngSubmit)="onSubmit(form1)" #form1="ngForm">
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>First Name:</mat-label>
                <input matInput placeholder="Eetu" [(ngModel)]="firstName" #fname="ngModel" required minlength="2"
                    pattern="^[a-zA-Z]$">
                <mat-error *ngIf="fname.hasError('required')">Enter your first name</mat-error>
                <mat-error *ngIf="fname.hasError('minlength')">Minimum 2 characters required</mat-error>
                <mat-error *ngIf="fname.hasError('pattern')">Must be valid name</mat-error>
            </mat-form-field>
        </div>

        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Last Name:</mat-label>
                <input matInput placeholder="Paananen" [(ngModel)]="lastName" #fname="ngModel" required minlength="2"
                    pattern="^[a-zA-Z]$">
                <mat-error *ngIf="fname.hasError('required')">Enter your first name</mat-error>
                <mat-error *ngIf="fname.hasError('minlength')">Minimum 2 characters required</mat-error>
                <mat-error *ngIf="fname.hasError('pattern')">Must be valid name</mat-error>
            </mat-form-field>
        </div>

        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Person Id:</mat-label> <input matInput placeholder="060300B56C" [(ngModel)]="personId"
                    #pID="ngModel" required minlength="11" required maxlength="11"
                    pattern="^(0[1-9]|[12]\d|3[01])(0[1-9]|1[0-2])([5-9]\d+|\d\d-|[01]\dA)\d{3}[\dA-Z]">
                <mat-error *ngIf="pID.hasError('required')">Enter your ID</mat-error>
                <mat-error *ngIf="pID.hasError('minlength')">Must be 11 characters</mat-error>
                <mat-error *ngIf="pID.hasError('pattern')">Must be valid personID</mat-error>
            </mat-form-field>
        </div>

        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Email:</mat-label>
                <input matInput placeholder="eetu.paananen@gmail.com" [(ngModel)]="email" #fname="ngModel" required
                    minlength="2" pattern="^[a-zA-Z]$">
                <mat-error *ngIf="fname.hasError('required')">Enter your first name</mat-error>
                <mat-error *ngIf="fname.hasError('minlength')">Minimum 2 characters required</mat-error>
                <mat-error *ngIf="fname.hasError('pattern')">Must be valid name</mat-error>
            </mat-form-field>
        </div>



        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Username:</mat-label>
                <input matInput placeholder="samurai44" [(ngModel)]="Username" #fname="ngModel" required minlength="2"
                    pattern="^[a-zA-Z]$">
                <mat-error *ngIf="fname.hasError('required')">Enter your first name</mat-error>
                <mat-error *ngIf="fname.hasError('minlength')">Minimum 2 characters required</mat-error>
                <mat-error *ngIf="fname.hasError('pattern')">Must be valid name</mat-error>
            </mat-form-field>
        </div>






        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Password:</mat-label>
                <input matInput placeholder="TääOnSalasana123" [(ngModel)]="Password" #pwrd="ngModel" type="password"
                    name="password1" required minlength="10" required maxlength="18" pattern="^[a-zA-Z]$">
                <mat-error *ngIf="pPassword.hasError('required')">Enter valid password, minimum 10 character</mat-error>
                <mat-error *ngIf="pPassword.hasError('required')">Must have letters and numbers</mat-error>
            </mat-form-field>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password:</mat-label>
                <input matInput placeholder="TääOnSalasana123" [(ngModel)]="ConfirmPassword" #pPassword="ngModel"
                    type="password" name="password2" required minlength="10" required maxlength="18"
                    pattern="{{pwrd.value}}">
                <!--mat-error *ngIf="pwrd.hasError('required')">Enter valid password, minimum 10 character</mat-error>
            <mat-error *ngIf="pwrd.hasError('required')">Must have letters and numbers</mat-error-->
            </mat-form-field>

            <br><br>
            <input type="checkbox" required>

            <!--div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Accept terms and conditions:</mat-label>
            <input  [(ngModel)]="hasAcceptedTerms" #pPassword="ngModel" type="checkbox"
                name="password1" >
            <mat-error *ngIf="pPassword.hasError('required')">Enter valid password, minimum 10 character</mat-error>
            <mat-error *ngIf="pPassword.hasError('required')">Must have letters and numbers</mat-error>
        </mat-form-field>
    </div-->


            <p>Accept terms and conditions!</p>
            <!--mat-checkbox formControlName="acceptCheckbox"></mat-checkbox>
        <mat-error *ngIf="acceptCheckbox?.hasError('requiredTrue')"> accept termsconditions </mat-error>
        <br><br>
        <button mat-button color="primary" type="submit" [disabled]="profileForm.invalid">submit</button-->


        </div>